@media only screen and (min-width: 1024px) and (max-width: 1279px) {
html {overflow-x: hidden;}
body {
  background: url('../img/plashka-1024.png');
  width: 1024px;
  height: 2293px;
  overflow-x: auto;
  background-repeat: no-repeat;background-repeat
}

p, h1 {
  font-family: 'Inter', sans-serif;
}
.text1 {
  margin-top: -30px;
  margin-left: 555px;
  font-size: 21px;
  width: 440px;
}


.sun {
z-index: 1;
width: 282px;
height: 233px;
margin-top: 258px;
margin-left: 98px;
display: inline-block;
position: relative;
background: url('../img/sun-1024.png');
}
.hands {
animation: hands 1s steps(1) alternate infinite;
}
@keyframes hands {
0% {background-position: 0px 0;}
33% {background-position: -282px 0;}
66% {background-position: -564px 0;}
}


.tuchi {
  z-index: 2;
  width: 1024px;
  height: 842px;
  margin-top: 2px;
  margin-left: 0px;
  display: inline-block;
  position: absolute;
  background: url('../img/tuchi-1024.png');
}
.hah {
animation: hah 7s steps(1) alternate infinite;
}
@keyframes hah {
0% {background-position: 0px 0;}
20% {background-position: -1024px 0;}
40% {background-position: -2048px 0;}
60% {background-position: -3072px 0;}
80% {background-position: -4096px 0;}
}


.c1{
  margin-left: 50px;
  margin-top: -65px;
  margin-bottom: 15px;
  width: 237px;
  height: 131px;
  background: url('../img/c1-1024.png');
}
.c2{
  margin-left: 761px;
  margin-top: -721px;
  margin-bottom: 15px;
  width: 251px;
  height: 146px;
  background: url('../img/c2-1024.png');
}
.c3{
  margin-left: 43px;
  margin-top: -102px;
  margin-bottom: 15px;
  width: 250px;
  height: 145px;
  background: url('../img/c3-1024.png');
}
.c4{
  margin-left: 431px;
  margin-top: 45px;
  margin-bottom: 15px;
  width: 269px;
  height: 152px;
  background: url('../img/c4-1024.png');
}


.b1{
  margin-left: 50px;
  margin-top: -364px;
  margin-bottom: 15px;
  width: 72px;
  height: 52px;
  background: url('../img/bird1-1024.png');
}
.b2{
  margin-left: 544px;
  margin-top: -277px;
  margin-bottom: 15px;
  width: 75px;
  height: 50px;
  background: url('../img/bird2-1024.png');
}
.b3{
  margin-left: 372px;
  margin-top: 463px;
  margin-bottom: 15px;
  width: 90px;
  height: 50px;
  background: url('../img/bird3-1024.png');
}
.b4{
  margin-left: 728px;
  margin-top: -396px;
  margin-bottom: 15px;
  width: 113px;
  height: 42px;
  background: url('../img/bird4-1024.png');
}
.b5{
  margin-left: 910px;
  margin-top: 154px;
  margin-bottom: 15px;
  width: 81px;
  height: 35px;
  background: url('../img/bird5-1024.png');
}


.p4 {
  margin-top: 400px;
  margin-left:  63px;
  opacity: 0;
  height: 380px;
  width: 410px;
  background: url('../img/plashka2-1024.png')
}
.p4:hover  {
  animation-play-state: running;
}
.p4 {
  animation: p4 .5s normal linear forwards;
  animation-play-state: paused;
}
@keyframes p4{
  0% {opacity: 0;}
  100% {opacity: 1;}
}


.forest2{
  margin-left: 2px;
  margin-top: -955px;
  margin-bottom: 15px;
  height: 943px;
  width: 1024px;
  background: url('../img/forest-1024.png');
}
.forest2{
  animation: forest2 3s normal linear forwards;
  animation-play-state: paused;
}
.forest2:hover{
  animation-play-state: running;
}
@keyframes forest2{
  0% {opacity: 1;}
  99% {opacity: 0;}
  100% {opacity: 0; display: none;}
}


.forest{
  margin-left: 2px;
  margin-top: -352px;
  margin-bottom: 15px;
  height: 943px;
  width: 1024px;
  background: url('../img/forest2-1024.png');
}


.flowers {
  margin-top: -468px;
  margin-left: -59px;
  width: 1024px;
  height: 372px;
  margin-bottom: 15px;
  display: inline-block;
  position: absolute;
  background: url('../img/flowers-1024.png');
}
.down {
animation: down 3s steps(1) alternate infinite;
}
@keyframes down {
0% {background-position: 0px 0;}
25% {background-position: -1024px 0;}
50% {background-position: -2048px 0;}
75% {background-position: -3072px 0;}
}


.f1{
  height: 247px;
  width: 322px;
  margin-left: 308px;
  margin-top: -164px;
  margin-bottom: 15px;
  display: inline-block;
  position: absolute;
  background: url('../img/fish2-1024.png');
}
.plav {
animation: plav 1s steps(1) alternate infinite;
}
@keyframes plav {
0% {background-position: 0px 0;}
50% {background-position: -322px 0;}
}


.f2{
  height: 247px;
  width: 322px;
  margin-left: 19px;
  margin-top: -33px;
  margin-bottom: 15px;
  display: inline-block;
  position: absolute;
  background: url('../img/fish1-1024.png');
}
.plav2 {
animation: plav2 1s steps(1) alternate infinite;
}
@keyframes plav2 {
0% {background-position: 0px 0;}
50% {background-position: -322px 0;}
}


.t{
  z-index: auto;
  height: 409px;
  width: 414px;
  margin-left: 598px;
  margin-top: -153px;
  margin-bottom: 15px;
  display: inline-block;
  position: absolute;
  background: url('../img/turtule-1024.png');
}
.hand {
animation: hand 1s steps(1) alternate infinite;
}
@keyframes hand {
0% {background-position: 0px 0;}
50% {background-position: -414px 0;}
}


.c{
  width: 502px;
  height: 363px;
  margin-left: 278px;
  margin-top: 96px;
  margin-bottom: 15px;
  display: inline-block;
  position: absolute;
  background: url('../img/crab-1024.png');
}
.clash {
animation: clash 1s steps(1) alternate infinite;
}
@keyframes clash {
0% {background-position: 0px 0;}
50% {background-position: -500px 0;}
}


.p3 {
  position: absolute;
  z-index: -1;
  border: solid;
  width: 100%;
  margin-left: 0px;
  margin-top: -82px;
  width: 1024px;
  height: 183px;
  background: #101010;
}

.text2 {
  margin-top: 243px;
  margin-left: 33px;
  margin-bottom: 278px;
  font-size: 21px;
}


.t2 {
  position: absolute;
  left: - 1395px;
  z-index: 0;
  margin-top: -250px;
  left: -1395px;
  width: 1024px;
  height: 682px;
  background: url('../img/trash-1024.png');
}
.t:hover ~ .t2 {
  animation: t2 2s linear forwards;
}
@keyframes t2{
  0% {left: -1395px;}
  100% {left: 5px;}
}


.t3 {
  z-index: 0;
  margin-left: 58px;
  margin-top: -127px;
  font-size: 20px;
  color: #fff;
}
.t4 {
  z-index: 0;
  margin-left: 418px;
  margin-top: -73px;
  font-size: 20px;
  color: #fff;
}
.i1 {
  z-index: 0;
  margin-left: 730px;
  margin-top: -104px;
  width: 243px;
  height: 139px;
  background: url('../img/hse-1024.png');
}
}