@media only screen and (min-device-width: 1200px) and (max-device-width: 1280px) {
  /* iPad */
}
body {
  background: url('../img/plashka-1280.png');
  width: 1280px;
  height: 2866px;
  overflow-x: auto;
  background-repeat: no-repeat;background-repeat
}

p, h1 {
  font-family: 'Inter', sans-serif;
}
.text1 {
  margin-top: -108px;
  margin-left: 692px;
  font-size: 29px;
  width: 440px;
}


.sun {
z-index: 1;
width: 396px;
height: 383px;
margin-top: 258px;
margin-left: 175px;
display: inline-block;
position: relative;
background: url('../img/sun.png');
}
.hands {
animation: hands 1s steps(1) alternate infinite;
}
@keyframes hands {
0% {background-position: 0px 0;}
33% {background-position: -396px 0;}
66% {background-position: -792px 0;}
}


.tuchi {
  z-index: 2;
  width: 1280px;
  height: 1091px;
  margin-top: -54px;
  margin-left: 0px;
  display: inline-block;
  position: absolute;
  background: url('../img/tuchi-1280.png');
}
.hah {
animation: hah 7s steps(1) alternate infinite;
}
@keyframes hah {
0% {background-position: 0px 0;}
20% {background-position: -1280px 0;}
40% {background-position: -2560px 0;}
60% {background-position: -3840px 0;}
80% {background-position: -5120px 0;}
}


.c1{
  margin-left: 50px;
  margin-top: -66px;
  margin-bottom: 15px;
  width: 349px;
  height: 204px;
  background: url('../img/cloud1.png');
}
.c2{
  margin-left: 938px;
  margin-top:-881px;
  margin-bottom: 15px;
  width: 371px;
  height: 227px;
  background: url('../img/cloud2.png');
}
.c3{
  margin-left: 43px;
  margin-top: -272px;
  margin-bottom: 15px;
  width: 366px;
  height: 225px;
  background: url('../img/cloud3.png');
}
.c4{
  margin-left: 579px;
  margin-top: -57px;
  margin-bottom: 15px;
  width: 395px;
  height: 237px;
  background: url('../img/cloud4.png');
}


.b1{
  margin-left: 50px;
  margin-top: -458px;
  margin-bottom: 15px;
  width: 103px;
  height: 81px;
  background: url('../img/bird1.png');
}
.b2{
  margin-left: 858px;
  margin-top: -317px;
  margin-bottom: 15px;
  width: 106px;
  height: 80px;
  background: url('../img/bird2.png');
}
.b3{
  margin-left: 524px;
  margin-top: 573px;
  margin-bottom: 15px;
  width: 127px;
  height: 79px;
  background: url('../img/bird3.png');
}
.b4{
  margin-left: 1036px;
  margin-top: -396px;
  margin-bottom: 15px;
  width: 159px;
  height: 66px;
  background: url('../img/bird4.png');
}
.b5{
  margin-left: 1113px;
  margin-top: 154px;
  margin-bottom: 15px;
  width: 116px;
  height: 55px;
  background: url('../img/bird5.png');
}


.p4 {
  margin-top: 250px;
  margin-left:  63px;
  opacity: 0;
  height: 488px;
  width: 521px;
  background: url('../img/plashka2.png')
}
.p4:hover  {
  animation-play-state: running;
}
.p4 {
  animation: p4 .5s normal linear forwards;
  animation-play-state: paused;
}
@keyframes p4{
  0% {opacity: 0;}
  100% {opacity: 1;}
}


.forest2{
  margin-left: -6px;
  margin-top: -959px;
  margin-bottom: 15px;
  height: 943px;
  width: 1280px;
  background: url('../img/forest-1280.png');
}
.forest2{
  animation: forest2 3s normal linear forwards;
  animation-play-state: paused;
}
.forest2:hover{
  animation-play-state: running;
}
@keyframes forest2{
  0% {opacity: 1;}
  99% {opacity: 0;}
  100% {opacity: 0; display: none;}
}


.forest{
  margin-left: 2px;
  margin-top: -352px;
  margin-bottom: 15px;
  height: 943px;
  width: 1280px;
  background: url('../img/forest2-1280.png');
}


.flowers {
  margin-top: -430px;
  margin-left: -44px;
  width: 1280px;
  height: 372px;
  margin-bottom: 15px;
  display: inline-block;
  position: absolute;
  background: url('../img/flowers-1280.png');
}
.down {
animation: down 3s steps(1) alternate infinite;
}
@keyframes down {
0% {background-position: 0px 0;}
25% {background-position: -1280px 0;}
50% {background-position: -2560px 0;}
75% {background-position: -38840px 0;}
}


.f1{
  height: 247px;
  width: 376px;
  margin-left: 308px;
  margin-top: -1px;
  margin-bottom: 15px;
  display: inline-block;
  position: absolute;
  background: url('../img/fish2-1280.png');
}
.plav {
animation: plav 1s steps(1) alternate infinite;
}
@keyframes plav {
0% {background-position: 0px 0;}
50% {background-position: -376px 0;}
}


.f2{
  height: 247px;
  width: 376px;
  margin-left: 19px;
  margin-top: 160px;
  margin-bottom: 15px;
  display: inline-block;
  position: absolute;
  background: url('../img/fish1-1280.png');
}
.plav2 {
animation: plav2 1s steps(1) alternate infinite;
}
@keyframes plav2 {
0% {background-position: 0px 0;}
50% {background-position: -376px 0;}
}


.t{
  z-index: auto;
  height: 569px;
  width: 500px;
  margin-left: 762px;
  margin-top: -85px;
  margin-bottom: 15px;
  display: inline-block;
  position: absolute;
  background: url('../img/turtule-1280.png');
}
.hand {
animation: hand 1s steps(1) alternate infinite;
}
@keyframes hand {
0% {background-position: 0px 0;}
50% {background-position: -500px 0;}
}


.c{
  width: 667px;
  height: 667px;
  margin-left: 383px;
  margin-top: 266px;
  margin-bottom: 15px;
  display: inline-block;
  position: absolute;
  background: url('../img/crab-1280.png');
}
.clash {
animation: clash 1s steps(1) alternate infinite;
}
@keyframes clash {
0% {background-position: 0px 0;}
50% {background-position: -667px 0;}
}


.p3 {
  position: absolute;
  z-index: -1;
  border: solid;
  width: 100%;
  margin-left: 0px;
  margin-top: -103px;
  width: 1280px;
  height: 216px;
  background: #101010;
}

.text2 {
  margin-top: 516px;
  margin-left: 50px;
  margin-bottom: 278px;
  font-size: 29px;
}


.t2 {
  position: absolute;
  left: - 1395px;
  z-index: 0;
  margin-top: -77px;
  left: -1395px;
}
.t:hover ~ .t2 {
  animation: t2 2s linear forwards;
}
@keyframes t2{
  0% {left: -1395px;}
  100% {left: 50px;}
}


.t3 {
  z-index: 0;
  margin-left: 74px;
  margin-top: -39px;
  font-size: 27px;
  color: #fff;
}
.t4 {
  z-index: 0;
  margin-left: 488px;
  margin-top: -76px;
  font-size: 27px;
  color: #fff;
}
.i1 {
  z-index: 0;
  margin-left: 910px;
  margin-top: -128px;
  width: 349px;
  height: 162px;
  background: url('../img/hse.png');
}
