@media only screen and (min-width: 320px) and (max-width: 380px) {
html {overflow-x: hidden;}
body {
  background: url('../img/plashka-320.png');
  width: 320px;
  height: 1724px;
  overflow-x: auto;
  background-repeat: no-repeat;background-repeat
}

p, h1 {
  font-family: 'Inter', sans-serif;
}
.text1 {
  margin-top: 2px;
  margin-left: 85px;
  font-size: 17px;
  width: 322px;
}


.sun {
z-index: 1;
width: 162px;
height: 159px;
margin-top: 173px;
margin-left: 19px;
display: inline-block;
position: relative;
background: url('../img/sun-390.png');
}
.hands {
animation: hands 1s steps(1) alternate infinite;
}
@keyframes hands {
0% {background-position: 0px 0;}
33% {background-position: -162px 0;}
66% {background-position: -324px 0;}
}


/.tuchi {
  z-index: 2;
  width: 390px;
  height: 670px;
  margin-top: -47px;
  margin-left: 0px;
  display: none;
  position: absolute;
  background: url('../img/tuchi-390.png');
}
.hah {
animation: hah 7s steps(1) alternate infinite;
}
@keyframes hah {
0% {background-position: 0px 0;}
20% {background-position: -834px 0;}
40% {background-position: -1688px 0;}
60% {background-position: -2502px 0;}
80% {background-position: -3336px 0;}
}


.c1{
  margin-left: 12px;
  margin-top: 21px;
  margin-bottom: 15px;
  width: 189px;
  height: 112px;
  background: url('../img/c1-390.png');
}
.c3{
  margin-left: 138px;
  margin-top: -609px;
  margin-bottom: 15px;
  width: 182px;
  height: 114px;
  background: url('../img/c3-390.png');
}


.b2{
  margin-left: 67px;
  margin-top: -491px;
  margin-bottom: 15px;
  width: 60px;
  height: 47px;
  background: url('../img/bird2-390.png');
}
.b3{
  margin-left: 230px;
  margin-top: 144px;
  margin-bottom: 15px;
  width: 73px;
  height: 46px;
  background: url('../img/bird3-390.png');
}
.b5{
  margin-left: 3px;
  margin-top: 139px;
  margin-bottom: 15px;
  width: 66px;
  height: 31px;
  background: url('../img/bird5-834.png');
}


.p4 {
  z-index: 5;
  margin-top: 190px;
  margin-left: 14px;
  opacity: 0;
  height: 263px;
  width: 279px;
  background: url('../img/plashka2-390.png')
}
.p4:hover  {
  animation-play-state: running;
}
.p4 {
  animation: p4 .5s normal linear forwards;
  animation-play-state: paused;
}
@keyframes p4{
  0% {opacity: 0;}
  100% {opacity: 1;}
}


.forest2{
  margin-left: -24px;
  margin-top: -607px;
  margin-bottom: 15px;
  height: 594px;
  width: 389px;
  background: url('../img/forest-390.png');
}
.forest2{
  animation: forest2 3s normal linear forwards;
  animation-play-state: paused;
}
.forest2:hover{
  animation-play-state: running;
}
@keyframes forest2{
  0% {opacity: 1;}
  99% {opacity: 0;}
  100% {opacity: 0; display: none;}
}


.forest{
  margin-left: -14px;
  margin-top: -295px;
  margin-bottom: 15px;
  height: 594px;
  width: 390px;
  background: url('../img/forest2-390.png');
}


/* .flowers {
  margin-top: -269px;
  margin-left: -26px;
  width: 834px;
  height: 268px;
  margin-bottom: 15px;
  display: inline-block;
  position: absolute;
  background: url('../img/flowers-834.png');
}
.down {
animation: down 3s steps(1) alternate infinite;
}
@keyframes down {
0% {background-position: 0px 0;}
25% {background-position: -834 0;}
50% {background-position: -1668px 0;}
75% {background-position: -2502px 0;}
} */


/* .f1{
  height: 110px;
  width: 158px;
  margin-left: 11px;
  margin-top: 51px;
  margin-bottom: 15px;
  display: inline-block;
  position: absolute;
  background: url('../img/fish2-390.png');
}
.plav {
animation: plav 1s steps(1) alternate infinite;
}
@keyframes plav {
0% {background-position: 0px 0;}
50% {background-position: -158px 0;}
} */


.t{
  z-index: auto;
  height: 266px;
  width: 256px;
  margin-left: 58px;
  margin-top: -92px;
  margin-bottom: 15px;
  display: inline-block;
  position: absolute;
  background: url('../img/turtule-390.png');
}
.hand {
animation: hand 1s steps(1) alternate infinite;
}
@keyframes hand {
0% {background-position: 0px 0;}
50% {background-position: -256px 0;}
}


.c{
  width: 275px;
  height: 203px;
  margin-left: 57px;
  margin-top: 271px;
  margin-bottom: 15px;
  display: inline-block;
  position: absolute;
  background: url('../img/crab-390.png');
}
.clash {
animation: clash 1s steps(1) alternate infinite;
}
@keyframes clash {
0% {background-position: 0px 0;}
50% {background-position: -275px 0;}
}


.p3 {
  position: absolute;
  z-index: -1;
  border: solid;
  width: 100%;
  margin-left: 0px;
  margin-top: -25px;
  width: 320px;
  height: 93px;
  background: #101010;
}

.text2 {
  margin-top: 183px;
  margin-left: 6px;
  margin-bottom: 278px;
  font-size: 17px;
  width: 322px;
}


/* .t2 {
  position: absolute;
  left: - 1395px;
  z-index: 0;
  margin-top: -60px;
  left: -1395px;
  width: 842px;
  height: 523px;
  background: url('../img/trash-834.png');
}
.t:hover ~ .t2 {
  animation: t2 2s linear forwards;
}
@keyframes t2{
  0% {left: -1395px;}
  100% {left: 5px;}
} */


.t3 {
  z-index: 0;
  margin-left: 2px;
  margin-top: -40px;
  font-size: 15px;
  width: 153px;
  color: #fff;
}
.t4 {
  z-index: 0;
  margin-left: 96px;
  margin-top: -45px;
  font-size: 15px;
  width: 153px;
  color: #fff;
}
.i1 {
  z-index: 0;
  margin-left: 237px;
  margin-top: -34px;
  width: 85px;
  height: 39px;
  background: url('../img/hse-320.png');
}
}
