@media only screen and (min-width: 834px) and (max-width: 1023px) {
html {overflow-x: hidden;}
body {
  background: url('../img/plashka-834.png');
  width: 834px;
  height: 1634px;
  overflow-x: auto;
  background-repeat: no-repeat;background-repeat
}

p, h1 {
  font-family: 'Inter', sans-serif;
}
.text1 {
  margin-top: -89px;
  margin-left: 437px;
  font-size: 21px;
  width: 440px;
}


.sun {
z-index: 1;
width: 262.33px;
height: 226px;
margin-top: 173px;
margin-left: 98px;
display: inline-block;
position: relative;
background: url('../img/sun-834.png');
}
.hands {
animation: hands 1s steps(1) alternate infinite;
}
@keyframes hands {
0% {background-position: 0px 0;}
33% {background-position: -282px 0;}
66% {background-position: -564px 0;}
}


.tuchi {
  z-index: 2;
  width: 834px;
  height: 670px;
  margin-top: -47px;
  margin-left: 0px;
  display: none;
  position: absolute;
  background: url('../img/tuchi-834.png');
}
.hah {
animation: hah 7s steps(1) alternate infinite;
}
@keyframes hah {
0% {background-position: 0px 0;}
20% {background-position: -834px 0;}
40% {background-position: -1688px 0;}
60% {background-position: -2502px 0;}
80% {background-position: -3336px 0;}
}


.c1{
  margin-left: 37px;
  margin-top: -89px;
  margin-bottom: 15px;
  width: 199px;
  height: 118px;
  background: url('../img/c1-834.png');
}
.c2{
  margin-left: 595px;
  margin-top: -533px;
  margin-bottom: 15px;
  width: 211px;
  height: 131px;
  background: url('../img/c2-834.png');
}
.c3{
  margin-left: 43px;
  margin-top: -131px;
  margin-bottom: 15px;
  width: 209px;
  height: 130px;
  background: url('../img/c3-834.png');
}
.c4{
  margin-left: 323px;
  margin-top: -24px;
  margin-bottom: 15px;
  width: 225px;
  height: 137px;
  background: url('../img/c4-834.png');
}


.b1{
  margin-left: 20px;
  margin-top: -257px;
  margin-bottom: 15px;
  width: 60px;
  height: 47px;
  background: url('../img/bird1-834.png');
}
.b2{
  margin-left: 429px;
  margin-top: -216px;
  margin-bottom: 15px;
  width: 60px;
  height: 47px;
  background: url('../img/bird2-834.png');
}
.b3{
  margin-left: 317px;
  margin-top: 437px;
  margin-bottom: 15px;
  width: 73px;
  height: 46px;
  background: url('../img/bird3-834.png');
}
.b4{
  margin-left: 628px;
  margin-top: -369px;
  margin-bottom: 15px;
  width: 90px;
  height: 39px;
  background: url('../img/bird4-834.png');
}
.b5{
  margin-left: 722px;
  margin-top: 154px;
  margin-bottom: 15px;
  width: 66px;
  height: 31px;
  background: url('../img/bird5-834.png');
}


.p4 {
  z-index: 5;
  margin-top: 153px;
  margin-left:  35px;
  opacity: 0;
  height: 305px;
  width: 328px;
  background: url('../img/plashka2-834.png')
}
.p4:hover  {
  animation-play-state: running;
}
.p4 {
  animation: p4 .5s normal linear forwards;
  animation-play-state: paused;
}
@keyframes p4{
  0% {opacity: 0;}
  100% {opacity: 1;}
}


.forest2{
  margin-left: 2px;
  margin-top: -607px;
  margin-bottom: 15px;
  height: 594px;
  width: 834px;
  background: url('../img/forest-834.png');
}
.forest2{
  animation: forest2 3s normal linear forwards;
  animation-play-state: paused;
}
.forest2:hover{
  animation-play-state: running;
}
@keyframes forest2{
  0% {opacity: 1;}
  99% {opacity: 0;}
  100% {opacity: 0; display: none;}
}


.forest{
  margin-left: 2px;
  margin-top: -295px;
  margin-bottom: 15px;
  height: 594px;
  width: 834px;
  background: url('../img/forest2-834.png');
}


.flowers {
  margin-top: -269px;
  margin-left: -26px;
  width: 834px;
  height: 268px;
  margin-bottom: 15px;
  display: inline-block;
  position: absolute;
  background: url('../img/flowers-834.png');
}
.down {
animation: down 3s steps(1) alternate infinite;
}
@keyframes down {
0% {background-position: 0px 0;}
25% {background-position: -834 0;}
50% {background-position: -1668px 0;}
75% {background-position: -2502px 0;}
}


.f1{
  height: 169px;
  width: 257px;
  margin-left: 270px;
  margin-top: -44px;
  margin-bottom: 15px;
  display: inline-block;
  position: absolute;
  background: url('../img/fish2-834.png');
}
.plav {
animation: plav 1s steps(1) alternate infinite;
}
@keyframes plav {
0% {background-position: 0px 0;}
50% {background-position: -262px 0;}
}


.f2{
  height: 158px;
  width: 260px;
  margin-left: 19px;
  margin-top: 44px;
  margin-bottom: 15px;
  display: inline-block;
  position: absolute;
  background: url('../img/fish1-834.png');
}
.plav2 {
animation: plav2 1s steps(1) alternate infinite;
}
@keyframes plav2 {
0% {background-position: 0px 0;}
50% {background-position: -262px 0;}
}


.t{
  z-index: auto;
  height: 330px;
  width: 311px;
  margin-left: 523px;
  margin-top: -93px;
  margin-bottom: 15px;
  display: inline-block;
  position: absolute;
  background: url('../img/turtule-834.png');
}
.hand {
animation: hand 1s steps(1) alternate infinite;
}
@keyframes hand {
0% {background-position: 0px 0;}
50% {background-position: -311px 0;}
}


.c{
  width: 423px;
  height: 303px;
  margin-left: 256px;
  margin-top: 122px;
  margin-bottom: 15px;
  display: inline-block;
  position: absolute;
  background: url('../img/crab-834.png');
}
.clash {
animation: clash 1s steps(1) alternate infinite;
}
@keyframes clash {
0% {background-position: 0px 0;}
50% {background-position: -423px 0;}
}


.p3 {
  position: absolute;
  z-index: -1;
  border: solid;
  width: 100%;
  margin-left: 0px;
  margin-top: -69px;
  width: 834px;
  height: 138px;
  background: #101010;
}

.text2 {
  margin-top: 243px;
  margin-left: 33px;
  margin-bottom: 278px;
  font-size: 21px;
}


.t2 {
  position: absolute;
  left: - 1395px;
  z-index: 0;
  margin-top: -60px;
  left: -1395px;
  width: 842px;
  height: 523px;
  background: url('../img/trash-834.png');
}
.t:hover ~ .t2 {
  animation: t2 2s linear forwards;
}
@keyframes t2{
  0% {left: -1395px;}
  100% {left: 5px;}
}


.t3 {
  z-index: 0;
  margin-left: 40px;
  margin-top: -133px;
  font-size: 20px;
  color: #fff;
}
.t4 {
  z-index: 0;
  margin-left: 335px;
  margin-top: -61px;
  font-size: 20px;
  color: #fff;
}
.i1 {
  z-index: 0;
  margin-left: 589px;
  margin-top: -88px;
  width: 207px;
  height: 99px;
  background: url('../img/hse-834.png');
}
}
